@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after { box-sizing: content-box }

html { font-size: 62.5% }

body {
    height: 100vh;
    line-height: 1.6;
    color: #fff;
    background: linear-gradient(rgb(163, 74, 47), rgb(143, 48, 102));
}

body,
input,
input::placeholder { font-family: 'Poppins', sans-serif }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 { 
    margin-bottom: 50px;
    font-size: 10rem;
    font-weight: 600;
    text-transform: uppercase; 
}

h2,
dd { font-size: 1.6rem }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 20px;
    font-size: 2rem;
}

dl { padding: 20px }

dt {
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
}

.container {
    max-width: 800px;
    margin: 100px auto 50px auto;
}

label,
.search-btn { text-transform: uppercase }

.show { display: block!important }

.form-container {
    margin-bottom: 80px; 
    position: relative; 
}

.heroes-search {
    width: 70%;
    min-width: 30%;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
}

.heroes-search,
.search-btn {
    padding: 10px 20px;
    font-size: 2rem;
    outline: none;
}

.alert {
    position: absolute;
    display: none;
    top: 25%;
    left: 97%;
    width: 100%;

    animation: alert .5s ease-in-out;
}

.alert-msg {
    padding: 10px 15px;
    background-color: #b73ebf;
    box-shadow: 8px 10px 0px #511c55, 0 1px 2px #511c55;
}

@keyframes alert {
    0%{ transform: translate(0px) }
    25%{ transform: translate(10px) }
    50%{ transform: translate(0px) }
    75%{ transform: translate(10px) }
    100%{ transform: translate(0px) }
}

.heroes-details {
    display: none;
    background-color: #b73ebf;
    box-shadow: 8px 10px 0px #511c55, 0 1px 2px #511c55;
}